# Python Basics Assignment: Integers, Floats, Booleans, and Type Conversion

**Instructions:** Solve the following problems.  Write Python code where necessary.

**Part 1: Integers**

1.  What is the difference between an integer and a float in Python?

In [ ]:
integer is a number with out decimal point where as float contains decimal

2.  Declare an integer variable named `age` and assign it the value 25.

In [2]:
age =25

3.  Print the value of the `age` variable.

In [3]:
print(age)

25

4.  What is the result of `10 + 5`?

In [6]:
10+5

15

5.  What is the result of `10 - 5`?

In [7]:
10-5

5

6.  What is the result of `10 * 5`?

In [8]:
10*5

50

7.  What is the result of `10 / 5`?

In [9]:
10/5

2.0

8.  What is the result of `10 // 5` (floor division)?

In [10]:
10//5

2

9.  What is the result of `10 % 5` (modulo)?

In [11]:
10%5

0

10. What is the result of `2 ** 3` (exponentiation)?

In [12]:
2 ** 3

8

11. Use the `+=` operator to increment the value of `age` by 5. Print the new value.

In [13]:
age += 5
print(age)

30

12. Use the `-=` operator to decrement the value of `age` by 3. Print the new value.

In [14]:
age-=3
print(age)

27

13. What is the output of `print(type(age))` after the previous operations?

In [ ]:
class - int

14. How can you check if a number is even or odd using the modulo operator?  Give an example.

In [20]:
a =2
if ((a % 2) == 0):
    print("even")
else:
    print("odd")

even

15. Write a Python program to calculate the area of a rectangle given its length and width (both integers).

In [21]:
lenth =10
wid=10
area = lenth*wid
print(area)

100

**Part 2: Floats**

16. Declare a float variable named `height` and assign it the value 5.8.

In [23]:
height = 5.8

17. Print the value of the `height` variable.

In [24]:
print(height)

5.8

18. What is the result of `10.5 + 5.2`?

In [25]:
10.5+5.2

15.7

19. What is the result of `10.5 - 5.2`?

In [26]:
10.5 -5.2

5.3

20. What is the result of `10.5 * 5.2`?

In [27]:
10.5*5.2

54.6

21. What is the result of `10.5 / 5.2`?

In [28]:
10.5/5.2

2.019230769230769

22. What is the output of `print(type(height))`?

In [ ]:
class type - float

23. Write a Python program to calculate the area of a circle given its radius (float).  Use pi = 3.14159.

In [29]:
radius = 2
pi = 3.14159
circle = radius * pi ** 2
print(circle)

19.739175456199998

24.  How can you format a float to two decimal places in Python? Give an example.

In [38]:
f"{circle:.2f}"

'19.74'

25.  What is the difference between `10` and `10.0` in Python?

In [ ]:
10 is integer
10.0 is float

26. Write a Python program to convert Celsius to Fahrenheit. The Celsius value should be a float.  Fahrenheit = (Celsius * 9/5) + 32

In [39]:
Celsius = 10
Fahrenheit = (Celsius * 9/5) + 32
print(Fahrenheit)

50.0

27.  Write a Python program to calculate the average of three float numbers.

In [40]:
a =1
b=2
c=3
x = (a+b+c)/3
print(x)

2.0

**Part 3: Booleans**

28. Declare a boolean variable named `is_student` and assign it the value `True`.

In [45]:
is_student = True

29. Print the value of `is_student`.

In [47]:
print(is_student)

True

30. What is the result of `True and True`?

In [ ]:
true

31. What is the result of `True and False`?

In [ ]:
false

32. What is the result of `False and False`?

In [ ]:
false

33. What is the result of `True or True`?

In [ ]:
true

34. What is the result of `True or False`?

In [ ]:
true

35. What is the result of `False or False`?

In [ ]:
false

36. What is the result of `not True`?

In [ ]:
false

37. What is the result of `not False`?

In [ ]:
true

38.  Write a Python expression that checks if a number `x` is greater than 10 and less than 20.  The result should be a boolean.

In [53]:
x = 25
10 > x < 20

False

39.  Write a Python expression that checks if a string `s` is equal to "hello". The result should be a boolean.

In [56]:
s = "hello"
print(bool(s))

True

40.  What is the output of `print(type(is_student))`?

In [58]:
bool

bool

**Part 4: Type Conversion**

41. Convert the integer `10` to a float. Print the result and its type.

In [59]:
float(10)

10.0

42. Convert the float `3.14` to an integer. Print the result and its type.  What happens to the decimal part?

In [60]:
int(3.14)
it convert the decimal to interger

3

43. Convert the string "123" to an integer. Print the result and its type.

In [61]:
s = "123"
int(s)

123

44. Convert the integer `456` to a string. Print the result and its type.

In [62]:
s = 456
str(s)

'456'

45. Convert the boolean `True` to an integer. Print the result.

In [64]:
int(True)

1

46. Convert the integer `0` to a boolean. Print the result.

In [65]:
bool(0)

False

47. Convert the string "True" to a boolean. Print the result.  Is the string "false" converted to boolean `False`?

In [67]:
s = 'False'
bool(s)

True

48. Write a Python program that takes a string input from the user, converts it to an integer, and then prints the square of that integer.

In [73]:
s = str(input("enter the string"))
int(s)
type(s)

enter the string hello

ValueError: invalid literal for int() with base 10: 'hello'

49. Write a Python program that takes a float input from the user, converts it to an integer, and then prints whether the resulting integer is even or odd.

50.  Explain the difference between implicit and explicit type conversion with examples.